﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Adicionar Criança
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
         <!--  <div style="padding-bottom:10px"><button class="btn btn-success" (click)="addCrianca()">Adicionar</button></div>-->
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="images/loading.gif" alt="Alternate Text" /> Carregando...</div>
            <div *ngIf='criancas && criancas.length==0' class="alert alert-info" role="alert">Sem dados registrado!</div>
            <table class='table table-striped' *ngIf='criancas && criancas.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>                        
                        <th>Status</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let crianca of criancas">
                        <td>{{crianca.Id_crianca}}</td>
                        <td>{{crianca.Nome}}</td>
                        <td>{{crianca.Status}}</td>
                        <td>{{crianca.Telefone}}</td>
                        <td>{{crianca.Endereco}}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button title="Visualizar" class="btn btn-primary" (click)="getCrianca(crianca.Id_crianca)"><i class="glyphicon glyphicon-file"></i></button>

                        </td>
                        <td>
                            <button title="Edit" class="btn btn-warning" (click)="editCrianca(crianca.Id_crianca)"><i class="glyphicon glyphicon-edit"></i></button>

                        </td>
                        <td>

                            <button title="Delete" class="btn btn-danger" (click)="deleteCrianca(crianca.Id_crianca)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(criancaFrm)" [formGroup]="criancaFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">

                <div>
                    <span>Nome</span>
                    <input type="text" class="form-control" placeholder="Nome" formControlName="Nome">
                </div>
                <div>
                    <span>Data de nascimento</span>
                    <input type="text" class="form-control" placeholder="Data de nascimento" formControlName="Data_nasc">
                </div>
                <div>
                    <span>Endereço</span>
                    <input type="text" class="form-control" placeholder="Endereco" formControlName="Endereco">
                </div>

                <div>
                    <span>Telefone</span>
                    <input type="text" class="form-control" placeholder="(00)00000-0000" formControlName="Telefone">
                </div>

                <div>

                    <span>Presente</span>
                    <input type="text" class="form-control" placeholder="Presente" formControlName="Presente">
                </div>

                <div>
                    <span>Carta</span>

                    <textarea class="form-control" rows="4" formControlName="Carta"> </textarea>
                </div>

                <div>
                    <span>Instituição</span>
                    <input type="text" class="form-control" placeholder="Instituicao" formControlName="Instituicao">
                </div>

                <div>
                    <span>Status</span>
                    <input type="number" class="form-control" placeholder="Status" formControlName="Status">
                </div>


                <div class="form-group">
                    <label for="exampleInputFile">Adicione sua carta</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Arquivos de texto ou imagem como .txt, .pdf, .png e similares</p>
                </div>



            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                <button type="submit" [disabled]="criancaFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>