﻿
<div class="panel panel-primary">
    <div class='panel-heading'>
        Login/Cadastro
    </div>
    <div class="panel-body">
        
        <form novalidate class="form-signin" (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
            <h3 class="form-signin-heading">Digite suas credenciais</h3>
            <label for="inputEmail" class="sr-only">Email </label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar senha neste computador
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <br>
            &nbsp; <a href="#" class="" (click)="addUser()">Cadastrar Padrinho</a> &nbsp;  &nbsp;  &nbsp; &nbsp;  <a routerLink="loginCrianca" class="" >Cadastrar Criança</a>
            <!--  <div style="padding-bottom:10px"><button class="btn btn-md btn-success" (click)="addUser()">Cadastrar Padrinho</button></div>--->
        </form>


    </div>

    
    

</div>


    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{msg}}
    </div>



    <modal #modal>
        <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
            <modal-header [show-close]="true">
                <h4 class="modal-title">{{modalTitle}}</h4>
            </modal-header>
            <modal-body>

                <div class="form-group">

                    <div>
                        <span>Nome</span>
                        <input  formControlName="Nome" type="text" class="form-control" placeholder="Nome" >
                    </div>
                    <div>
                        <span>CPF</span>
                        <input type="text" class="form-control" placeholder="CPF" formControlName="CPF">
                    </div>
                    <div>
                        <span>Gênero</span>
                        <select class="form-control" formControlName="Genero" title="Gênero">
                            <option>Masculino</option>
                            <option>Feminino</option>
                        </select>

                    </div>
                    <div>
                        <span>Telefone</span>
                        <input type="text" class="form-control" placeholder="Telefone" formControlName="Telefone">
                    </div>
                    <div>
                        <span>Email</span>
                        <input type="Email" class="form-control" placeholder="Email" formControlName="Email">
                    </div>

                    <div>
                        <span>Profissão</span>
                        <input type="text" class="form-control" placeholder="Profissao" formControlName="Profissao">

                    </div>



                    <div>
                        <span>Data de Nascimento</span>
                        <input type="datetime" class="form-control" placeholder="Data de Nascimento" formControlName="Data_nasc">
                    </div>



                </div>
            </modal-body>
            <modal-footer>
                <div>
                    <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                    <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
                </div>
            </modal-footer>
        </form>
    </modal>
