﻿
<div class="panel panel-primary">
    <div class='panel-heading'>
        Login/Cadastro
    </div>
    <div class="panel-body">

        <form class="form-signin" (ngSubmit)="onSubmit(criancaFrm)" [formGroup]="criancaFrm">
            <h3 class="form-signin-heading">Digite suas credenciais</h3>
            <label for="inputEmail" class="sr-only">Email </label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar senha neste computador
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <br>
            &nbsp; <a [routerLink]="['login']" class="" >Cadastrar Padrinho</a> &nbsp;  &nbsp;  &nbsp; &nbsp;  <a href="#"  class=""  (click)="addCrianca()">Cadastrar Criança</a>
            <!--  <div style="padding-bottom:10px"><button class="btn btn-md btn-success" (click)="addUser()">Cadastrar Padrinho</button></div>--->
        </form>

    </div>


</div>

<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{msg}}
</div>


<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(criancaFrm)" [formGroup]="criancaFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">

                <div>
                    <span>Nome</span>
                    <input type="text" class="form-control" placeholder="Nome" formControlName="Nome">
                </div>
                <div>
                    <span>Data de nascimento</span>
                    <input type="text" class="form-control" placeholder="Data de nascimento" formControlName="Data_nasc">
                </div>
                <div>
                    <span>Endereço</span>
                    <input type="text" class="form-control" placeholder="Endereco" formControlName="Endereco">
                </div>

                <div>
                    <span>Telefone</span>
                    <input type="text" class="form-control" placeholder="(00)00000-0000" formControlName="Telefone">
                </div>

                <div>

                    <span>Presente</span>
                    <input type="text" class="form-control" placeholder="Presente" formControlName="Presente">
                </div>

                <div>
                    <span>Carta</span>

                    <textarea class="form-control" rows="4" formControlName="Carta"> </textarea>
                </div>

                <div>
                    <span>Instituição</span>
                    <input type="text" class="form-control" placeholder="Instituicao" formControlName="Instituicao">
                </div>

                <div>
                    <span>Status</span>
                    <input type="number" class="form-control" placeholder="Status" formControlName="Status">
                </div>


                <div class="form-group">
                    <label for="exampleInputFile">Adicione sua carta</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Arquivos de texto ou imagem como .txt, .pdf, .png e similares</p>
                </div>



            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                <button type="submit" [disabled]="criancaFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>