﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Adicionar padrinho
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>

            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="images/loading.gif" alt="Alternate Text" /> Carregando...</div>
            <div *ngIf='users && users.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='users && users.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.Id_padrinho}}</td>
                        <td>{{user.Nome}}</td>
                        <td>{{user.CPF}}</td>
                        <td>{{user.Email}}</td>
                        <td>{{user.Telefone}}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button title="Visualizar" class="btn btn-primary" (click)="getUser(user.Id_padrinho)"><i class="glyphicon glyphicon-file"></i></button>

                        </td>
                        <td>
                            <button title="Edit" class="btn btn-warning" (click)="editUser(user.Id_padrinho)"><i class="glyphicon glyphicon-edit"></i></button>

                        </td>
                        <td>
                            <button title="Delete" class="btn btn-danger" (click)="deleteUser(user.Id_padrinho)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>


            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">

                <div>
                    <span>Nome</span>
                    <input type="text" class="form-control" placeholder="Nome" formControlName="Nome">
                </div>
                <div>
                    <span>CPF</span>
                    <input type="text" class="form-control" placeholder="CPF" formControlName="CPF">
                </div>
                <div>
                    <span>Genero</span>
                    <input type="text" class="form-control" placeholder="Genero" formControlName="Genero">

                </div>
                <div>
                    <span>Email</span>
                    <input type="Email" class="form-control" placeholder="Email" formControlName="Email">
                </div>
                <div>
                    <span>Telefone</span>
                    <input type="text" class="form-control" placeholder="Telefone" formControlName="Telefone">
                </div>

                <div>
                    <span>Profissão</span>
                    <input type="text" class="form-control" placeholder="Profissao" formControlName="Profissao">
                </div>

                <div>
                    <span>Data de Nascimento</span>
                    <input type="text" class="form-control" placeholder="Data de Nascimento" formControlName="Data_nasc">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>

